CREATE FUNCTION [dbo].[funEndereco] (@ENDERECO VARCHAR (5000), @TIPO VARCHAR(1)) RETURNS VARCHAR (5000)  AS
BEGIN
	DECLARE @I INT
	DECLARE @INICIO INT
	DECLARE @NRO VARCHAR(200)
	DECLARE @LOGRADOURO VARCHAR(5000)
	DECLARE @CHAR VARCHAR(1)
	DECLARE @RETORNO VARCHAR(5000)

	SET @I = 0
	SET @INICIO = 0
	SET @NRO = ''
	SET @LOGRADOURO = ''
	SET @CHAR = ''
	SET @RETORNO = ''
	WHILE @I < len(@ENDERECO)
	BEGIN
	   SET @INICIO = LEN(@ENDERECO) - @I
	   SET @CHAR = SUBSTRING(@ENDERECO,@INICIO,1)
	   IF ISNUMERIC(@CHAR) = 1 AND @CHAR <> ',' AND @CHAR <> '.'
	   BEGIN
			SET @NRO = @CHAR + @NRO
	   END
	   ELSE
	   BEGIN
			SET @LOGRADOURO = REPLACE(@ENDERECO,@NRO,'')
			SET @LOGRADOURO = REPLACE(@LOGRADOURO,',','')
			SET @I = len(@ENDERECO)
	   END
	   SET @I = @I + 1;
	END;

	IF @TIPO = 'N'
		SET @RETORNO = @NRO
	ELSE
		SET @RETORNO = @LOGRADOURO

	RETURN @RETORNO
END
